@import "./normalize.css";

:root {
  --color-primary: #48b842;
  --color-secondary: #1d2275;
  --color-accent: #e32b34;
  --color-select: #f7b538;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 690px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 845px;
  }
}
/* Typography */

::selection {
  background: var(--color-select);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-secondary);
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 6rem;
}

p {
  margin-top: 0;
  color: #fff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

a:hover {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2.1rem;
  }

  h1 {
    font-size: 12.2rem;
  }

  /* h2 {
    font-size: 6.4rem;
  } */
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 15rem;
  }

  h2 {
    font-size: 4.5rem;
  }
}

/* Header */

.title {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;
}

.title__reuben::first-letter {
  color: var(--color-accent);
}

.title__reuben:hover {
  color: var(--color-accent);
}

.title__loane {
  letter-spacing: 1rem;
}

.title__loane:hover {
  color: var(--color-accent);
}

.title__animation {
  font-size: 5.7rem;
}

.title__animation:hover {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .title {
    padding: 4rem 0 10rem 0;
  }
  .title__animation {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 4rem 0 12rem 0;
  }

  .title__animation {
    font-size: 9.7rem;
  }
}

/* Collapsibles */

.collapsible {
  width: 100%;
  cursor: pointer;
  /* min-height: 20rem; */
}

.collapsible__header {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
}

.collapsible__heading {
  margin-top: 0;
  padding: 1.5rem 3rem;
}

.collapsible__content {
  background: var(--color-primary);
  max-height: 0vh;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s;
  padding-left: 3rem;
  padding-right: 3rem;
}

.collapsible--expanded .collapsible__content {
  max-height: 500vh;
  opacity: 1;
  padding: 3rem;
}

/* Lists */

ul {
  padding: 3rem;
  margin: 0;
  /* margin: 6rem 0 6rem 0; */
}

.list {
  list-style: none;
  /* padding-left: 3rem; */
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2rem;
  /* line-height: 5rem; */
  font-size: 2rem;
}

.list__item {
  padding-bottom: 1.5rem;
}

.list__item-first-word {
  font-weight: 300;
}

/* Test Box */

.test-box {
  /* background: var(--color-primary); */
  /* padding: 1rem; */
  width: 100%;
}

/* Contact Me Form */

.contact-information {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  color: var(--color-accent);
}

.social-media__icon {
  font-size: 5rem;
  width: 100%;
}

/* About Me */

.about-me {
  background: var(--color-primary);
  padding: 0 2rem;
  padding-right: 1rem;
}

.about-me__heading {
  /* color: var(--color-accent); */
}

/* About Me Card */

.card--about-me h2 {
  font-size: 3rem;

  letter-spacing: 1rem;
}

@media screen and (min-width: 768px) {
  .card--about-me {
    max-width: 22.5rem;
  }

  .card--about-me h2 {
    font-size: 5rem;
    letter-spacing: 0;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /* .collapsible.card--about-me {
    height: 100%;
  } */

  .about-me {
    padding: 0 0rem;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .card--about-me {
    max-width: 30rem;
  }

  .card--about-me h2 {
    font-size: 7rem;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 4.5rem;
  }
}

.wrapper--showreel-cv {
  display: flex;
  flex-direction: column;
}

/* Showreel */

.showreel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: auto;
}

.youtube-showreel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* padding: 5%; */
}

/* Showreel Card */

.card--showreel h2 {
  color: var(--color-accent);
  font-size: 3rem;
  letter-spacing: 1rem;
}

@media screen and (min-width: 768px) {
  .card--showreel {
    max-width: 42.5rem;
  }

  .card--showreel h2 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .card--showreel {
    max-width: 60rem;
  }

  .card--showreel h2 {
    font-size: 6.5rem;
  }
}

/* CV Box */

.cv--boxes {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 60rem;
}

.cv-box {
  background: var(--color-accent);
  /* display: flex; */
  justify-content: center;
  margin-bottom: 3rem;
  /* height: 10rem; */
}

/* CV Card */

.card--cv h2 {
  font-size: 3rem;
  letter-spacing: 1rem;
}

@media screen and (min-width: 768px) {
  .card--cv {
    max-width: 42.5rem;
    margin-top: 3rem;
  }

  .card--cv h2 {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .card--cv {
    max-width: 60rem;
    margin-top: 3rem;
  }

  .card--cv h2 {
    font-size: 6.5rem;
    letter-spacing: 1rem;
  }
}

/* Contact Me and Social media */

.second-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .second-container {
    flex-direction: row;
  }
}

/* Social */
