@import "...css/normalize.css";

:root {
  --color-primary: #48b842;
  --color-secondary: #1d2275;
  --color-accent: #e32b34;
  --color-select: #f7b538;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
/* Typography */

::selection {
  background: var(--color-select);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-secondary);
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 6rem;
}

p {
  margin-top: 0;
  color: #fff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

a:hover {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2.1rem;
  }

  h1 {
    font-size: 12.2rem;
  }

  /* h2 {
    font-size: 6.4rem;
  } */
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 15rem;
  }

  h2 {
    font-size: 4.5rem;
  }
}

/* Header */

.title {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem 0;
}

.title__reuben::first-letter {
  color: var(--color-accent);
}

.title__reuben:hover {
  color: var(--color-accent);
}

.title__loane {
  letter-spacing: 1rem;
}

.title__loane:hover {
  color: var(--color-accent);
}

.title__animation {
  font-size: 5.7rem;
}

.title__animation:hover {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .title {
    padding: 4rem 0 10rem 0;
  }
  .title__animation {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    padding: 4rem 0 12rem 0;
  }

  .title__animation {
    font-size: 9.7rem;
  }
}

/* Collapsibles */

.collapsible {
  /* width: 100%; */
  cursor: pointer;
  /* height: 10rem; */
}

.collapsible__header {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
}

.collapsible__heading {
  margin-top: 0;
  padding: 1.5rem 3rem;
}

.collapsible__content {
  background: var(--color-primary);
  max-height: 0vh;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  padding-left: 3rem;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  padding: 3rem;
}

/* About Me */

.about-me {
  background: var(--color-primary);
  padding: 3rem;
}

.about-me__heading {
  color: var(--color-accent);
}

/* Showreel */

.showreel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: auto;
}

.youtube-showreel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* padding: 5%; */
}

/* CV Box */

.cv-box {
  background: var(--color-accent);
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

/* Lists */

ul {
  padding: 3rem;
  margin: 0;
  /* margin: 6rem 0 6rem 0; */
}

.list {
  list-style: none;
  /* padding-left: 3rem; */
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2rem;
  /* line-height: 5rem; */
  font-size: 2rem;
}

.list__item {
  padding-bottom: 1.5rem;
}

.list__item-first-word {
  font-weight: 300;
}

/* Test Box */

.test-box {
  /* background: var(--color-primary); */
  /* padding: 1rem; */
  width: 100%;
}

/* Contact Me Form */

.contact-information {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  color: var(--color-accent);
}

.social-media__icon {
  font-size: 5rem;
  width: 100%;
}

/* Grids */

.grid {
  display: grid;
  gap: 6rem;
}

.grid--1x2 {
  grid-template-columns: 2fr 3fr;

  font-size: 2rem;
  font-weight: 200;
  /* justify-items:center; */
  /* max-width: 730px;
    margin: 0 auto; */
}

/* .coll-about-me {
    grid-row-end: 3;
  } */

.box {
  grid-column-start: 2;
}
.coll-about-me {
  /* min-height: 10rem; */
  /* background: var(--color-primary); */
  grid-row-start: 1;
  /* grid-row-end: 3; */
  width: 40rem;
  margin: auto;
}

.collapsible--expanded {
}

.collapsible--expanded.coll-about-me {
  background: var(--color-primary);
  height: auto;
}

.about-me--heading {
  font-size: 8rem;
  text-align: left;
}

.coll-cv {
  /* height: 30rem; */
}

.contact-soc {
  margin-top: 3rem;
  grid-template-columns: 3fr 1fr;
}

.coll-soc {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.wrapper {
  display: flex;
}

.second-wrapper {
  flex-direction: column;
  margin-left: 5rem;
  justify-self: flex-end;
}
