<div class="collapsible card--about-me">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">ABOUT ME</h2>
    </header>
    <div class="collapsible__content">
      <div class="about-me">

        <p>
          My name is Reuben Loane and I am a Professional Animator from Northern
          Ireland. I primarily work in the medium of Stop-Motion, but I have
          experience in 2D animation using After Effects and Cel Action. </p>
    
    
          <p>
              I am also confident in using Photoshop, Premiere and Final Cut Pro for
              image and video editing. Most recently I have worked as an Animator on
              CBBC's Scream Street. Before this I was an animator on Disney's Club
              Penguin: We Wish You a Merry Walrus. I have also worked on Wanda and The
              Alien using Cel Action and worked as a Freelance Animator for
              Crosslinks.
          </p>
          
          <p>
              Currently, I am available for freelance work to make films,
              music videos, advertisements or hold animation workshops for any age
              group. For any more information on me or my work please contact me. I
              would love to hear from you.
          </p>
        </p>
      </div>
    </div>
  </div>