<div class="cv-box">
  <ul class="list">
    <li class="list__item">
      <span class="list__item-first-word">Role:</span>
      Stop-Motion Animator
    </li>
    <li class="list__item">
      <span class="list__item-first-word">Production:</span>
      Scream Street
    </li>
    <li class="list__item">
      <span class="list__item-first-word">Company:</span>
      Factory
    </li>
    <li class="list__item">
      <span class="list__item-first-word">Director:</span>
      Geoff Walker
    </li>
    <li class="list__item">
      <span class="list__item-first-word">Dates:</span>
      Sept 2020 - Jul 2021
    </li>
  </ul>
</div>
